<div class="wrapper">
  <% if !user_signed_in? %>
    <div class="signin right">



        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h4 class="center">Σύνδεση</h4>
          <div class="input-field">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email" %>
          </div>

          <div class="input-field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions center">
            <%= f.submit "ΣΥΝΔΕΣΗ",:id => 'sign-in-btn', :class => 'btn waves-effect waves-light btn-submit' %>
          </div>
        <% end %>

        <div class="center seperator">
        </div>

        <div class="center">
          <i class="btn waves-effect waves-light waves-input-wrapper" style="">
            <input type="submit" id="sign-up" value="ΕΓΓΡΑΦΗ" class="waves-button-input">
          </i>
        </div>
    </div>
  <% end %>
</div>
